{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% if app.user is not null %}
                <a href="{{ path('app_logout') }}">Deconnection |</a>

               {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('categorie_new') }}">Crée une catégorie |</a>
                    <a href="{{ path('article_new') }}">Crée un article</a>
               {% endif %}

            {% else %}
               <div>
                    <a href="{{ path('app_login') }}">Connexion</a>
                    <span>/<span>
                    <a href="{{ path('app_register') }}">Inscription</a>
               </div>
    {% endif %}
    <h1>Accueil</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Articles</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{categorie.titre}}</td>
                <td>
                    <a href="{{ path('article_show', {'id': categorie.id}) }}">show</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
